global
    log /dev/log    local0
    log /dev/log    local1 notice
    chroot /var/lib/haproxy
    stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
    stats timeout 30s
    user haproxy
    group haproxy
    daemon
    maxconn 100000
    nbthread 4

defaults
    log     global
    mode    tcp
    option  tcplog
    option  dontlognull
    option  redispatch
    retries 3
    timeout connect     5s
    timeout client      30m
    timeout server      30m
    timeout check       5s
    maxconn 5000

listen stats
    mode http
    bind *:{{ haproxy_stats_port }}
    stats enable
    stats uri /stats
    stats refresh 10s
    stats show-legends
    stats show-node
    stats auth {{ haproxy_stats_user }}:{{ haproxy_stats_password }}
    stats admin if TRUE

listen postgres_primary
    bind *:{{ haproxy_primary_port }}
    mode tcp
    option tcp-check
    balance first
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    option httpchk
    http-check send meth GET uri /master ver HTTP/1.1 hdr Host haproxy
    http-check expect status 200
{% for host in groups['patroni'] %}
    server {{ host }} {{ hostvars[host]['ansible_host'] }}:5432 check port {{ haproxy_patroni_port }}
{% endfor %}

listen postgres_replicas
    bind *:{{ haproxy_replica_port }}
    mode tcp
    option tcp-check
    balance roundrobin
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    option httpchk
    http-check send meth GET uri /replica ver HTTP/1.1 hdr Host haproxy
    http-check expect status 200
{% for host in groups['patroni'] %}
    server {{ host }} {{ hostvars[host]['ansible_host'] }}:5432 check port {{ haproxy_patroni_port }}
{% endfor %}